In [16]:
import requests, json
import numpy as np
import pandas as pd

In [19]:

import pandas as pd
import requests, json

date = '20230501'
stock_no = ['0050','0056']
stock_historical_info = pd.DataFrame()

for ticker in stock_no:
    html = requests.get('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (date,ticker))
    content = json.loads(html.text)
    stock_data = content['data']
    col_name = content['fields']
    df = pd.DataFrame(data=stock_data, columns=col_name)
    df['ticker'] = ticker
    stock_historical_info = pd.concat([stock_historical_info, df])

stock_historical_info

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,ticker
0,112/05/02,"5,572,977","655,524,087",117.45,118.00,117.10,117.70,+0.30,"9,964",0050
1,112/05/03,"4,652,271","544,828,139",117.35,117.35,116.80,117.20,-0.50,"13,074",0050
2,112/05/04,"3,888,293","455,688,616",117.00,117.50,116.70,117.50,+0.30,"6,451",0050
3,112/05/05,"2,550,129","300,346,321",117.70,118.05,117.40,117.80,+0.30,"7,918",0050
4,112/05/08,"6,287,398","746,027,147",118.50,118.90,118.35,118.55,+0.75,"8,772",0050
5,112/05/09,"4,828,179","573,008,011",118.60,119.00,118.30,118.90,+0.35,"5,793",0050
6,112/05/10,"4,685,154","553,250,294",118.80,118.80,117.65,117.80,-1.10,"14,060",0050
7,112/05/11,"4,031,551","475,242,643",118.25,118.45,117.55,117.55,-0.25,"9,465",0050
8,112/05/12,"4,251,764","497,565,809",117.15,117.50,116.75,117.20,-0.35,"10,633",0050
0,112/05/02,"14,076,807","399,222,255",28.25,28.44,28.20,28.44,+0.21,"8,898",0056
1,112/05/03,"11,700,143","331,715,503",28.38,28.42,28.28,28.42,-0.02,"9,788",0056
2,112/05/04,"8,375,431","237,712,886",28.34,28.45,28.28,28.45,+0.03,"5,948",0056
3,112/05/05,"8,817,163","250,962,228",28.45,28.49,28.43,28.47,+0.02,"7,172",0056
4,112/05/08,"16,391,243","469,375,143",28.52,28.69,28.52,28.67,+0.20,"11,660",0056
5,112/05/09,"10,167,712","291,084,334",28.67,28.69,28.53,28.64,-0.03,"8,134",0056
6,112/05/10,"10,875,547","310,528,088",28.64,28.65,28.50,28.54,-0.10,"10,471",0056
7,112/05/11,"13,333,884","379,255,804",28.54,28.57,28.38,28.40,-0.14,"12,370",0056
8,112/05/12,"10,622,823","300,885,074",28.37,28.47,28.19,28.45,+0.05,"8,469",0056