In [27]:
import requests, json
import numpy as np
import pandas as pd
import yfinance as yf

In [34]:
# import yfinance as yf

date = '2023-01-01'
stock_no = ['0050.TW', '0056.TW']
stock_history_price = pd.DataFrame()

for stock in stock_no:
    stock = yf.Ticker(stock)
    stock_data = stock.history(start=date)
    stock_data['ticker'] = stock
    stock_history_price = pd.concat([stock_history_price, stock_data])

stock_history_price = stock_history_price.reset_index()
stock_history_price

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,ticker
0,2023-01-03 00:00:00+08:00,109.599998,110.900002,108.449997,110.750000,14810634,0.0,0.0,0.0,yfinance.Ticker object <0050.TW>
1,2023-01-04 00:00:00+08:00,110.300003,110.800003,110.099998,110.500000,13754853,0.0,0.0,0.0,yfinance.Ticker object <0050.TW>
2,2023-01-05 00:00:00+08:00,111.250000,111.699997,110.949997,111.300003,12070904,0.0,0.0,0.0,yfinance.Ticker object <0050.TW>
3,2023-01-06 00:00:00+08:00,111.199997,112.199997,111.150002,111.800003,11586780,0.0,0.0,0.0,yfinance.Ticker object <0050.TW>
4,2023-01-09 00:00:00+08:00,114.000000,115.800003,113.900002,115.800003,14998076,0.0,0.0,0.0,yfinance.Ticker object <0050.TW>
...,...,...,...,...,...,...,...,...,...,...
155,2023-05-08 00:00:00+08:00,28.520000,28.690001,28.520000,28.670000,16123902,0.0,0.0,0.0,yfinance.Ticker object <0056.TW>
156,2023-05-09 00:00:00+08:00,28.670000,28.690001,28.530001,28.639999,9912797,0.0,0.0,0.0,yfinance.Ticker object <0056.TW>
157,2023-05-10 00:00:00+08:00,28.639999,28.650000,28.500000,28.540001,10306974,0.0,0.0,0.0,yfinance.Ticker object <0056.TW>
158,2023-05-11 00:00:00+08:00,28.540001,28.570000,28.379999,28.400000,12852646,0.0,0.0,0.0,yfinance.Ticker object <0056.TW>
159,2023-05-12 00:00:00+08:00,28.370001,28.469999,28.190001,28.450001,10345015,0.0,0.0,0.0,yfinance.Ticker object <0056.TW>

In [36]:
print(stock_history_price['Date'].max())
print(stock_history_price['Date'].min())

2023-05-12 00:00:00+08:00
2023-01-03 00:00:00+08:00